@import 'reset.styl';
@import  'fonts.styl';
@import  'variables.styl';

/*common styles*/
html { height: 100%; }
body
  font: 16px/1.25 'latoregular', Arial, sans-serif
  color: $text_color
  min-width: 730px
  height: 100%
  background #f7f7f7


/*section*/
.page__section
  width 100%

.section
  width 64%
  margin 0 auto
  padding 120px 0

.section--intro
  padding-top 0

.section__header
  padding-top 25px

.page__section--bg-intro
  background url( img_path + "header_bg.jpg") no-repeat center bottom
  background-size cover
  min-height 1032px
  color #ffffff

.page__section--bg-white
  background #ffffff

.page__section--bg-laptop
  background url(img_path + "laptop_bg.png") no-repeat center bottom
  background-size cover
  min-height 1032px

.section__content
  margin-top  135px

.content
  text-align center

/*header*/
.header
.menu
  display flex
  justify-content space-between
  align-items center


.header__menu
  /*width 50%*/

/*logo*/
.logo
  display inline-block
  text-indent -9999px
  background url( img_path + "logo.png") no-repeat
  background-size contain

.logo--little
  width 70px
  height 70px

.logo--big
  width 190px
  height 200px

/*.header__menu*/
.menu__item
  margin 0 20px

  a
    text-decoration none
    color inherit

    &:hover
      font-weight 700



.content
  text-align center

.content__logo
  margin-bottom 75px


.text-block--intro
  font-size 22px
  font-weight 700
  width 75%
  margin 0 auto


.title
  display flex
  margin-bottom 40px
  text-transform uppercase
  font-weight 900
  justify-content space-between
  align-items flex-start

.title--intro
  display block
  font-weight 700
  font-size 22px

.title--simple
  font-size 24px

.title-header
  margin-right 5%

.title-header__main
  color #00ccff
  font-size 30px
  white-space nowrap

.title-header__main--orange
  color #ff9900;

.title-header__main-secondary
  color #666
  font-size 18px
  font-weight 400
  text-transform capitalize
  white-space nowrap



.title__separator
  /*flex-grow 1*/

.title__desc
  align-self flex-end
  text-transform none
  font-weight 400
  margin 0 0 30px 3%

.section__btn
  margin 120px auto

.btn
  position relative
  width 46px
  height 68px
  border solid 3px #ffffff
  border-radius 26px

  &:after
    content ""
    position absolute
    top 50%
    left 50%
    margin -24px 0 0 -9px
    width 12px
    height 18px
    border solid 3px #ffffff
    border-radius 8px



/*footer*/

.footer
  padding 20px 0
  font-weight 700
  background #00ccff
  color #ffffff
  text-align center

  span
    color #0d97b9