@import 'reset.styl';
@import  'fonts.styl';
@import  'icons.styl';
@import  'variables.styl';

/*common styles*/
html { height: 100%; }
body
  font: 16px/1.25 'latoregular', Arial, sans-serif
  color: $text_color
  min-width 1000px
  max-width 2048px
  height: 100%
  margin 0 auto
  background #f7f7f7

/*slope*/
.container
  display: block;
  width: 100%;
  overflow: hidden;
  padding-top: 150px; //??

.se-slope
  height: 170px;
  background: white;
  transform: rotate(-5deg);
  width: 205%;
  overflow: hidden;
  position: relative;
  z-index: 3;
  left: -2%;

.se-slope:after
  position: absolute;
  background: #0cf;
  transform: rotate(10deg);
  height: 100%;
  width: 75%;
  content: "";
  display: block;
  top: 0;
  left: 24%;

/*section*/
.page__section
  width 100%

.section
  width 64%
  margin 0 auto
  padding 120px 0

.section--intro
  padding-top 0

.section__header
  padding-top 25px
  position relative
  z-index 3

.page__section--bg-intro
  position relative
  background url( $img_path + "header_bg_img.png") no-repeat center bottom
  background-size cover
  min-height 1032px
  color #ffffff
  z-index 1
  overflow hidden

.page__section--bg-intro:after
  position absolute
  content ""
  top 0
  bottom 0
  left 0
  right 0
  background url( $img_path + "header_grid.png") no-repeat center bottom
  background-size cover
  z-index 2


.page__section--bg-white
  background #ffffff

.page__section--bg-laptop
  background url($img_path + "laptop_bg2.png") no-repeat center bottom
  background-size cover
  min-height 1032px

.section__content
  margin-top  135px
  position relative
  z-index 3

.content
  text-align center

.content__text-block
  margin-bottom 100px

/*header*/
.header
.menu
  display flex
  justify-content space-between
  align-items center


.header__menu
  /*width 50%*/

/*logo*/
.logo
  display inline-block
  text-indent -9999px
  background url( $img_path + "logo.png") no-repeat
  background-size contain

.logo--little
  width 70px
  height 70px

.logo--big
  width 190px
  height 200px

/*.header__menu*/
.menu__item
  margin 0 20px

  a
    text-decoration none
    color inherit

    &:hover
      font-weight 700



.content
  text-align center

.content__logo
  margin-bottom 75px

.text-block
  width 75%
  text-align center
  margin-left auto
  margin-right auto

.text-block--intro
  font-size 22px
  font-weight 700

.text-block--light
  color $text_lighter_color

.text-block--lato-light
  font-family latolight
  font-size 52px
  color #333

.title
  display flex
  margin-bottom 40px
  text-transform uppercase
  font-weight 900
  justify-content space-between
  align-items flex-start

.title--intro
  display block
  font-weight 700
  font-size 22px

.title--simple
  display block
  font-size 24px
  text-align center

.title--sub
  color #333
  font-size 20px
  text-transform uppercase
  text-align center
  font-weight 700

.title--desc
  color #00ccff
  text-transform: capitalize;
  font-size: 12px;
  text-align: center;

.title--desc--large
  font-size 22px

.title-header
  margin-right 5%

.title-header__main
  color #00ccff
  font-size 30px
  white-space nowrap

.title-header__main--orange
  color #ff9900;

.title-header__main-secondary
  font-size 18px
  font-weight 400
  text-transform capitalize
  white-space nowrap

.title__separator
  /*flex-grow 1*/

.title__desc
  align-self flex-end
  text-transform none
  font-weight 400
  margin 0 0 30px 3%

.page__section--bg-laptop
  .title-header__main--orange, .title-header__main-secondary, .title__desc
    color #fff


.section__btn
  margin 120px auto

.btn
  position relative
  width 46px
  height 68px
  border solid 3px #ffffff
  border-radius 26px

  &:after
    content ""
    position absolute
    top 50%
    left 50%
    margin -24px 0 0 -9px
    width 12px
    height 18px
    border solid 3px #ffffff
    border-radius 8px

/*tabs*/

.section__tabs
  margin-bottom 100px

.tabs__item
  display inline-block
  transform skew(-20deg)
  background #eaeaea

  &:hover
    background #00ccff

    a
      color #333

  a
    display inline-block
    font-size 20px
    color #000
    padding 20px 35px
    text-decoration none
    text-transform uppercase
    transform skew(20deg)


.tabs__item--active
  background #00ccff

  a
    color #fff

.articles-set
  display flex
  flex-wrap wrap
  justify-content space-between


.articles-set__item
  flex-basis 49.5%
  display flex
  justify-content space-between
  position relative
  padding 40px 0

  &:after, &:before
    content ""
    display inline-block
    position absolute
    background #eaeaea

  &:after
    height 90%
    width 1px
    right 0
    top 5%

  &:before
    width 97%
    height 1px
    left 0
    bottom  0

  &:nth-child(even):after, &:nth-last-child(2):before, &:last-child:before
    display none

  h3
    font-size 20px
    font-weight 700
    margin 10px 0


.article-content
  flex-basis 75%

.article-icon
  color #fff
  background #0cf
  transform skew(-10deg)
  text-align center
  margin-right 10%
  margin-left 15px
  padding 7px 5px

  .icon-stumbleupon
    margin-left -8px
    padding-right 20px

  span
    font-size 60px
    &:before
      transform skew(10deg)

.article-icon--grey
  background #eaeaea

.article-icon--black
  font-size 60px
  color #333
  margin-bottom 35px

/*inline-list-set*/

.inline-list-set
  display flex
  justify-content space-between

.inline-list-set--bg
  padding 40px 20px
  background #fff
  border-top 1px solid #ccc
  border-bottom  1px solid #ccc

.inline-list-set__item
  flex-basis 25%
  padding 0 10px


.article-block p
  text-align center

.article-block__diagram
  margin-bottom 45px
  text-align center

  span
    color #333
    font-size 30px
    font-weight 700

.article-block__title
  margin-bottom 15px

.article-block--dark
  text-align center

  .title--sub, .text-block--light
    color #fff
    text-align justify

  .text-block--light
    font-size 12px



/*footer*/

.footer
  padding 20px 0
  font-weight 700
  background #00ccff
  color #ffffff
  text-align center

  span
    color #0d97b9