section.page__section.page__section--bg-white
    .section

        +sectionTitle("about", "us", subtitle, titleDesc)

        .section__tabs
            ul.tabs
                li.tabs__item.tabs__item--active
                    a(href='#') welcome
                li.tabs__item
                    a(href='#') Vision
                li.tabs__item
                    a(href='#') mission
                li.tabs__item
                    a(href='#') mission
        .section__tab-content
            ul.tab-content
                li.tab-content__item.articles-set
                    div.articles-set__item
                        .article-icon
                            span.icon-stumbleupon
                        div.article-content
                            h3 100% Money Back
                            p aliquam ipsum ante morbi sed ipsum mollis. Sollicitudin viverra, vel varius eget sit mollis.

                    div.articles-set__item.articles-set__item--active
                        .article-icon
                            span.icon-lightbulb
                        div.article-content
                            h3 Cross Browser
                            p aliquam ipsum ante morbi sed ipsum mollis. Sollicitudin viverra, vel varius eget sit mollis.

                    div.articles-set__item
                        .article-icon
                            span.icon-flag-checkered
                        div.article-content
                            h3 Retina Display
                            p aliquam ipsum ante morbi sed ipsum mollis. Sollicitudin viverra, vel varius eget sit mollis.

                    div.articles-set__item
                        .article-icon
                            span.icon-file-code
                        div.article-content
                            h3 Bootstrap 3
                            p aliquam ipsum ante morbi sed ipsum mollis. Sollicitudin viverra, vel varius eget sit mollis.

                li.tab-content__item

                li.tab-content__item

                li.tab-content__item
