section.page__section.page__section--bg-white
    .section
        +sectionTitle("Our", "Services", subtitle, titleDesc)
        .section__tab-content
            ul.tab-content
                li.tab-content__item.articles-set
                    div.articles-set__item
                        .article-icon
                            span.icon-stumbleupon
                        div.article-content
                            h3.title-header__main--orange Brand Identity
                            p.text-block--light aliquam ipsum ante morbi sed ipsum mollis. Sollicitudin viverra, vel varius eget sit mollis.

                    div.articles-set__item
                        .article-icon
                            span.icon-lightbulb
                        div.article-content
                            h3.title-header__main--orange UI/UX Design
                            p aliquam ipsum ante morbi sed ipsum mollis. Sollicitudin viverra, vel varius eget sit mollis.

                    div.articles-set__item
                        .article-icon
                            span.icon-flag-checkered
                        div.article-content
                            h3.title-header__main--orange Graphic Design
                            p.text-block--light aliquam ipsum ante morbi sed ipsum mollis. Sollicitudin viverra, vel varius eget sit mollis.

                    div.articles-set__item
                        .article-icon
                            span.icon-file-code
                        div.article-content
                            h3.title-header__main--orange Mobile Application
                            p.text-block--light aliquam ipsum ante morbi sed ipsum mollis. Sollicitudin viverra, vel varius eget sit mollis.

                    div.articles-set__item
                        .article-icon
                            span.icon-picture-1
                        div.article-content
                            h3.title-header__main--orange Illustration
                            p.text-block--light aliquam ipsum ante morbi sed ipsum mollis. Sollicitudin viverra, vel varius eget sit mollis.

                    div.articles-set__item
                        .article-icon
                            span.icon-videocam-1
                        div.article-content
                            h3.title-header__main--orange Videography
                            p.text-block--light aliquam ipsum ante morbi sed ipsum mollis. Sollicitudin viverra, vel varius eget sit mollis.