section.page__section.page__section--bg-grey
    .section
        h2.title.title--simple Our skills
        p.content__text-block.text-block Lorem ipsum dolor sit amet, libero turpis non cras ligula, id commodo, aenean est in volutpat amet sodales, porttitor bibendum facilisi suspendisse
        ul.inline-list-set
            li.inline-list-set__item.article-block
                div.article-block__diagram
                    div.diagram
                    span 58%
                h3.article-block__title.title--sub wordpress
                p.article-block__text.text-block--light aliquam ipsum ante morbi sed ipsum mollis. Sollicitudin viverra, vel varius eget sit
            li.inline-list-set__item.article-block
                div.article-block__diagram
                    div.diagram
                    span 75%
                h3.article-block__title.title--sub html 5
                p.article-block__text.text-block--light aliquam ipsum ante morbi sed ipsum mollis. Sollicitudin viverra, vel varius eget sit
            li.inline-list-set__item.article-block
                div.article-block__diagram
                    div.diagram
                    span 80%
                h3.article-block__title.title--sub css 3
                p.article-block__text.text-block--light aliquam ipsum ante morbi sed ipsum mollis. Sollicitudin viverra, vel varius eget sit
            li.inline-list-set__item.article-block
                div.article-block__diagram
                    div.diagram
                    span 95%
                h3.article-block__title.title--sub photoshop
                p.article-block__text.text-block--light aliquam ipsum ante morbi sed ipsum mollis. Sollicitudin viverra, vel varius eget sit


            //https://github.com/pguso/jquery-plugin-circliful