section.page__section.page__section--bg-laptop
    .section
        +sectionTitle("our", "team", subtitle, titleDesc)

        ul.inline-list-set
            li.inline-list-set__item.article-block--dark
                img(src="images/face-1.png").article-block_img

                h3.article-block__title.title--sub PATRICIA MEDINA
                    p.title--desc Senior Desigener
                p.article-block__text.text-block--light Imperdiet nulla sem fringilla, purus enim amet, nascetur faucibus, adipiscing neque ut bibendum, at felis nec in.
            li.inline-list-set__item.article-block--dark
                img(src="images/face-2.png").article-block_img

                h3.article-block__title.title--sub PATRICIA MEDINA
                    p.title--desc Senior Desigener
                p.article-block__text.text-block--light Imperdiet nulla sem fringilla, purus enim amet, nascetur faucibus, adipiscing neque ut bibendum, at felis nec in.
            li.inline-list-set__item.article-block--dark
                img(src="images/face-3.png").article-block_img

                h3.article-block__title.title--sub PATRICIA MEDINA
                    p.title--desc Senior Desigener
                p.article-block__text.text-block--light Imperdiet nulla sem fringilla, purus enim amet, nascetur faucibus, adipiscing neque ut bibendum, at felis nec in.
            li.inline-list-set__item.article-block--dark
                img(src="images/face-4.png").article-block_img

                h3.article-block__title.title--sub PATRICIA MEDINA
                    p.title--desc Senior Desigener
                p.article-block__text.text-block--light Imperdiet nulla sem fringilla, purus enim amet, nascetur faucibus, adipiscing neque ut bibendum, at felis nec in.
