section.page__section.page__section--bg-grey
    .section
        h2.title.title--simple Additional Recent Work
        p.content__text-block.text-block Market-proven software with award winning design