include templates/helpers/_variables
include templates/helpers/_mixins

doctype html
html(lang='EN')
    head
        include templates/meta/head
    body.page
        include templates/components/section_header
        main
            include templates/components/section_about
            include templates/components/section_skills
            include templates/components/section_team
            include templates/components/section_services
            include templates/components/section_fun
            include templates/components/section_work
            include templates/components/section_addwork
            include templates/components/section_twit
            include templates/components/section_testimonial
            include templates/components/section_plant
            include templates/components/section_slider
            include templates/components/section_touch

    include templates/components/footer
